<div >
    <div>
        <h4 class="text-center">Detalle de OT</h4>
    </div>
    <table class="table table-sm p-2">
        <thead class="table-light">
            <tr>
                <th>Producto</th>
                <th>Dosis</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @for (item of detalles(); track $index) {
            <tr>
                <td>{{item.PRODUCTO}}</td>
                <td>{{item.DOSIS}}</td>
                <td>{{item.TOTAL}}</td>
            </tr>
        } @empty {
            <tr>
                <td colspan="3" class="text-center text-muted">Cargando detalles o sin datos...</td>
            </tr>
        }
        </tbody>
    </table>
    <div class="display-btn m-2 p-3">
        @if (showGenerarLabor() && otId()) {
            <button class="btn btn-warning" (click)="generarLabor()">
                Generar labor
                <fa-icon [icon]="faPlus" />
            </button>
        }
        @if (showEditDelete()) {
            <button class="btn btn-outline-primary">
                    Modificar
                <fa-icon [icon]="faPen" />
            </button>
            <button class="btn btn-outline-primary">
                    Eliminar
                <fa-icon [icon]="faTrash" />
            </button>
        }
    </div>
</div>