<div class="p-3 bg-light border-bottom">
    <h5 class="mb-3">Detalle de Insumos</h5>
    <table class="table table-sm table-bordered bg-white">
        <thead class="table-secondary">
            <tr>
                <th>Producto</th>
                <th class="text-end">Cantidad</th>
                <th class="text-end">Costo Un.</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            @for (item of detalles(); track $index) {
            <tr>
                <td>{{item.producto}}</td>
                <td class="text-end">{{item.cantidad}}</td>
                <td class="text-end">{{item.costo_utilizado | currency:moneda()}}</td>
                <td class="text-end fw-bold">{{item.costo_total | currency:moneda()}}</td>
            </tr>
            } @empty {
            <tr>
                <td colspan="4" class="text-center text-muted">No hay insumos registrados para esta labor.</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td colspan="3" class="text-end fw-bold">TOTAL INSUMOS:</td>
                <td class="text-end fw-bold text-primary">{{calcularTotalInsumos() | currency:moneda()}}</td>
            </tr>
        </tfoot>
    </table>
</div>
