<div class="width-max">
    <div>
        <a routerLink="/">
            <fa-icon [icon]="faCircleLeft" class="size-icon btn btn-outline-primary border-0" />
        </a>
    </div>

    @if (isLoading()) {
        <div class="text-center my-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>
    } @else {
        <!-- Lista de Costos Registrados -->
        <div class="d-flex justify-content-between my-4 align-items-center">
            <h1>Costo de labores</h1>
            <button class="btn btn-outline-primary py-1" routerLink="/new-cost">
                Registrar Costo Libre
                <fa-icon [icon]="faPlus" class="ms-1" />
            </button>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Labor</th>
                    <th>N° OT</th>
                    <th>Lote</th>
                    <th>Fecha</th>
                    <th class="text-end">Cant.</th>
                    <th class="text-end">Costo Unit. Serv.</th>
                    <th class="text-end">Total Serv.</th>
                    <th class="text-end">Costo Insumos</th>
                    <th class="text-end">Costo Total</th>
                    <th>Moneda</th>
                </tr>
            </thead>
            <tbody>
                @for (cost of costs(); track cost.id_labor) {
                <tr class="fila-principal" (click)="seleccionarLabor(cost.id_labor)">
                    <td>{{cost.id_labor}}</td>
                    <td>{{cost.id_ot}}</td>
                    <td>{{cost.lote}}</td>
                    <td>{{cost.fecha}}</td>
                    <td class="text-end">{{cost.cantidad}}</td>
                    <td class="text-end">{{cost.costo_servicio_unitario | currency:cost.moneda}}</td>
                    <td class="text-end fw-bold">{{cost.total_costo_servicio | currency:cost.moneda}}</td>
                    <td class="text-end">{{cost.total_insumos_calculado | currency:cost.moneda}}</td>
                    <td class="text-end fw-bold text-primary">{{cost.total_final | currency:cost.moneda}}</td>
                    <td>{{cost.moneda}}</td>
                </tr>
                @if (laborSeleccionada() === cost.id_labor) {
                <tr>
                    <td colspan="10" class="p-0">
                        <app-costo-labores-detalle 
                            [detalles]="detalles_labor()" 
                            [moneda]="cost.moneda">
                        </app-costo-labores-detalle>
                    </td>
                </tr>
                }
                } @empty {
                <tr>
                    <td colspan="10" class="text-center p-4">No se encontraron costos registrados.</td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>
