table{
  max-width: 1200px;
  margin: auto;
}

h1 {
    padding: 2%;
}

.fila-principal{
    cursor: pointer;
}
.fila-principal:hover{
    background-color: aqua;
}

.ocultar-en-mobile {
  display: table-cell;
}


@media (max-width: 768px) {
  .ocultar-en-mobile {
    display: none;
  }
}