<div class="tabla-container">
    <h1>Ordenes de trabajo</h1>
    <table>
        <thead>
            <tr>
                <th class="ocultar-en-mobile">N° OT</th>
                <th>Fecha</th>
                <th class="ocultar-en-mobile">Campo</th>
                <th>Lote</th>
                <th>Servicio</th>
                <th>Contratista</th>
                <th>Cant.</th>
                <th class="ocultar-en-mobile">Costo</th>
                <th class="ocultar-en-mobile">Maq</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orden of ordenes">
                <td class="ocultar-en-mobile">{{orden.OT_ID}}</td>
                <td>{{orden.FECHA}}</td>
                <td class="ocultar-en-mobile">{{orden.CAMPO}}</td>
                <td>{{orden.LOTE}}</td>
                <td>{{orden.SERVICIO}}</td>
                <td>{{orden.PROVEEDOR}}</td>
                <td>{{orden.CANTIDAD}}</td>
                <td class="ocultar-en-mobile">{{orden.COSTO}}</td>
                <td class="ocultar-en-mobile">{{orden.MAQUINA}}</td>
            </tr>
        </tbody>
    </table>
</div>